PORT=3004
NODE_ENV=development
DATABASE_URL=postgres://postgres.[PROJECT_REF]:[PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
PROFESSIONALS_SERVICE_URL=http://localhost:8000
INTERNAL_API_KEY=internal-dev-key
