PORT=3003
NODE_ENV=development
DATABASE_URL=postgres://postgres.[PROJECT_REF]:[PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
APPOINTMENTS_SERVICE_URL=http://localhost:3004
INTERNAL_API_KEY=internal-dev-key
